*.dict
*.graph
*.RoleSimGraph
*.spcid
*.spcname
*.txt
*.cn
*.pathsim
*.pathvec
*.score
*.pts
*.save
*.gml
*,*
*.cnlist
*.SimRankGraph
*.RoleSim
*.ReFex
*.SimRank
*.db
*.TXT
*.rolesimRaw
*.pathvec_2
*.in
*.Betweenness
*.Closeness
*.ClusCoeff
*.Degree
*.Pagerank
*.Trianglenumber
*.recall
*.npy
*.rwr
*.mat

